* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,li {
  list-style: none;
}
body {
  background-color: rgb(85, 152, 176);
}
.App {
  width: 100%;
  height: 100%;
  
}

.box {
  background-color: rgb(255, 255, 255);
  
  
  height: 400px;
  max-width: 600px;
  margin: 0 auto ;
  position: absolute;
  top: calc(50% - 200px);
  left: 0;
  right: 0;
  padding: 40px;
  border-radius: 20px;
}

.progress {
  width: 100%;
  height: 15px;
  background-color: rgb(111, 109, 109);
  border-radius: 10px;
}
.progress-bar {
  background-color: red;
  width: 0 ;
  height: 100%;
  border-radius: 20px;
  transition: .2s ease-in;
}

.title {
  margin: 10px 0px 10px 0px;
  text-align: center;
}

ul {
  
}

li {
  border: 1px solid rgb(143, 140, 140);
  border-radius: 10px;
  padding: 20px 10px;
  margin-top: 10px;
  transition: .2s ease-in;
  
}

li:hover {
  border: 1px solid rgb(0, 0, 0);
}

.button {
  
}

.btn {
  background-color: rgb(99, 167, 85);
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  color: beige;
  cursor: pointer;
  transition: .2s ease-in;
}

.btn:hover {
  color: rgb(39, 39, 34);
  background-color: rgb(156, 162, 155);
  border: 1px solid  rgb(39, 39, 34);
  font-weight: 600;
} 
.result {
  
}