body {
  background-color: rgb(85, 152, 176);
}
.App {
  width: 100%;
  height: 100%;
  
}

.box {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  height: 400px;
  max-width: 600px;
  margin: 0 auto ;
  position: absolute;
  top: calc(50% - 200px);
  left: 0;
  right: 0;
  padding: 40px;
  border-radius: 20px;
}

.progress {
  width: 100%;
  height: 15px;
  background-color: rgb(111, 109, 109);
  border-radius: 10px;
}
.progress-bar {
  background-color: red;
  width: 0px;
  height: 100%;
  border-radius: 20px;
}
